{% extends "base.html" %}
{% block title %} TwitHub - Регистрация {% endblock title %}

{% block content %}
    <main>
        <section id="signup">
            <h2>Регистрация</h2>
            <form id="signup-form">
                <label for="username">Имя пользователя:</label>
                <input type="text" id="username" name="username" required>

                <label for="email">Электронная почта:</label>
                <input type="email" id="email" name="email" required>

                <label for="password">Пароль:</label>
                <input type="password" id="password" name="password" required>

                <label for="confirm-password">Подтверждение пароля:</label>
                <input type="password" id="confirm-password" name="confirm-password" required>

                <button type="submit">Зарегистрироваться</button>
            </form>
        </section>
    </main>
{% endblock content %}
